/*tutorials
https://www.w3schools.com/howto/howto_css_tooltip.asp
*/

/* Title */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }

body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 128vh;
}


/* language select dropdown */
#language-select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(253, 249, 244);
    color: #C850C0;
    cursor: pointer;
    position: relative;
    top: 20px;
    font-weight: bold;

}
#language-select::after {
    content: '\25BC';
    font-size: 16px;
    position: absolute;
    top: 14px;
    right: 10px;
    pointer-events: none;
}




/* Song list tooltip */
.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
}
.draggable-tooltip {
    cursor: grab;
}
.tooltip.active {
    display: block;
}

#tooltip-header {
    font-size: 20px;
    margin: 1;
    color:  #C850C0;
    font-weight: bold;
}
#tooltip-song-list {
    list-style-type: disc;
    position: relative;
    padding: 0;
    margin: 0;
}
#tooltip-song-list li {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;

}
/* close icon buttom */
.close-icon {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 13px;
    color: #eba016;
}

/* back button */
.back-button {
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    font-size: 13px;
    color: #eba016;
}
/* Scrollable list songs */
.scrollable-list {
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;

}
.scrollable-list li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}
.scrollable-list li:last-child {
    border-bottom: none;
        max-height: 200px;
    overflow-y: auto;
}
/* songs name text part */
.song-name {
    font-size: 1.0em;
    font-weight: bold;
}



/* Legend */
.legend {
    position: absolute;
    top: 600px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    border: 1px solid #ccc;
}
.legend-title {
    font-weight: bold;
}



/* Grey box : no available data */
#color_box_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 560px;
    left: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
#color_box, #color_text {
    display: inline-block;
    margin: 0;
}
#color_text {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
    font-weight: bold;

}
.grey {
    height: 10px;
    width: 10px;
    background-color: #696969;
    border-radius: 50%;
}


/* Responsive SVG */
.responsive-svg {
    width: 100%;
    height: 100vh;
    pointer-events: zoom;
}

