.tooltip {
  position: absolute;
  text-align: center;
  background-color: rgb(241, 244, 246);
  width: fit-content;
  height: 20px;
  padding: 10px;
  font: 15px sans-serif;
  border-radius: 8px;
  pointer-events: none;
  font-weight: bold;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.underlined-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

tspan {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  stroke: #fff;
  stroke-width: 1px;
}

rect.parent,
.grandparent rect {
  stroke-width: 3px;
  fill: orange;
}

.grandparent text {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.child {
  opacity: 0.060;
}


.children:hover rect.child {
  opacity: 0.2;
  stroke-width: 3px;
}

.children:hover rect.parent {
  opacity: 0.99;
}

.legend {
  margin-bottom: 8px !important;
}

.legend rect {
  stroke-width: 0px;
}

.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}

.form-group {
  text-align: left;
}

.textdiv {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 7px;
  cursor: pointer;
  overflow: none;
}

.textdiv .title {
  font-size: 102%;
  font-weight: bold;
  margin-top: 8px;
  font-size: 11px !important;
}

.textdiv p {
  line-height: 13px;
  margin: 0 0 4px !important;
  padding: 0px;
  font-size: 10px !important;
}

/* Style form labels and inputs */
label {
  display: block;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="number"] {
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

/* Style buttons */
button {
  padding: 5.5px 20px;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-image: linear-gradient(#1FA2FF 0%, #1FA2FF 100%);
}

button:hover {
  opacity: 0.8;
}

/* Center the content on the page */
body {
  height: 100vh;
  width: 100vw;
  background: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#filter {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#animation-button {
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

}

#restartButton {
  display: none;
  opacity: 0.8;
  width: 120px;
  background-image: linear-gradient(#1f71ff 0%, #1FA2FF 100%);
}

#footerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 665px;
}
